<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>逗比</string>
	<string>脑洞大开</string>
	<string>创意</string>
	<string>青春可爱</string>
	<string>正能量</string>
	<string>动画</string>
	<string>烧脑</string>
	<string>重口味</string>
	<string>科技向</string>
	<string>美食</string>
	<string>萌宠</string>
	<string>弯弯的</string>
	<string>无节操</string>
	<string>羞羞的视频</string>
</array>
</plist>
